.nav{
    background-color: rgb(0, 0 ,0);
}
.nav_list {
    display: inline;
}
.Nav_item {
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 100%;
}
.Nav_link {
    color: #000000;
    text-decoration: none;
    font-size: 90px;
    margin: 6px;
    padding: 10px;
}
body {
    background-color: rgb(0, 0, 0);
    margin: 0;
}
.Nav_item:hover {
    background: transparent;
}

.Informacion {
    background-color: black;
    height: 150px;
    width: 500px;
    margin-left: 440px;
    margin-right: 100px;
    border: solid 5px;
    border-color: white;

}
.Base {
    margin-top: 10px;
    margin-left: 130px;
    margin-right: 500px;
    height: 300px;
}
.Letras_base {
    text-align: center;
    color: white;
}
.box_S {
    background-color: black;
}