.nav{
    background-color: rgb(0, 0 ,0);
}
.nav_list {
    display: inline;
}
.Nav_item {
    display: inline-block;
    padding: 10px;
}
.Nav_link {
    color: #ffffff;
    text-decoration: none;
}
.Nav_item:hover {
    background-color: rgb(207, 207, 207);
}
.Box_mundos {
    margin: 200px;
}
.Mundos {
    background-color: #000000;
    width: 800px;
    height: 1400px;
    margin-left: 290px;
    margin-right: 400px;
    margin-top: 50px;
}
.Imagenes {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}
.Imagenes_3 {
    margin-top: 50px;
    margin-left: 290px;
}
.Flechas {
    display: inline-block;
    padding: 50px;
    margin-top: 200px;
    margin-left: 200px;
}
.Adelante {
    text-decoration: none;
    color: #ffffff;
    height: 20px;
    width: 20px;
    font-size: 100px;
    margin-left: 90px;
}
.Atras {
    text-decoration: none;
    color: #ffffff;
    font-size: 100px;
}
.Vamos {
    text-decoration: none;
    color: #ffffff;
    font-size: 100px;
}
.Atras:hover {
    background-color: #000000;
}
.Adelante:hover{
    background-color: #000000;
}
.Mundo1 {
    background: url(/Imagens/mundo_1.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin: 0;
}
.Mundo_2 {
    background: url(/Imagens/Mundo2.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin: 0;
    height: 600px;
}
.Mundo_3 {
    background: url(/Imagens/Mundo3.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin: 0;
    height: 630px;
   
}
.Mundo_4 {
    background: url(/Imagens/Mundo4.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin: 0;
    height: 641px;
}
.Mundo_5 {
    background: url(/Imagens/Mundo5.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin: 0;
    height: 600px;
}
.Mundo_6 {
    background: url(/Imagens/Mundo6.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin: 0;
    height: 679px;
}
.Mundo_7 {
    background: url(/Imagens/Mundo7.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin: 0;
    height: 640px;
}