body {
    margin: 0;
    background-image: url(/Imagens/Home.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.nav{
    background-color: rgb(0, 0 ,0);
}
.nav_list {
    display: inline;
}
.Nav_item {
    display: inline-block;
    padding: 10px;
}
.Nav_link {
    color: #ffffff;
    text-decoration: none;
}
.Nav_item:hover {
    background-color: rgb(207, 207, 207);
}
.box {
    background-color: gray;
    width: 1090px;
    height: 500px;
    text-align: center;
    margin-left: 130px;
    margin-top: 120px;
    background: transparent;
}


.img2{
    width: 150px;
    margin: 50px;
}
.img3 {
    height: 250px;
    width: 200px;
    margin: 50px;
}
.img1{
    margin: 50px;
    height: 260px;
}
.Box2{
    padding: 50px;
    background-color: rgb(193, 63, 16);
    margin: 200px;
    height:  600px;
}
.Personajes {
    font-family: sans-serif;
    font-weight: 900;
}

.container {
    margin: 20px;
    border: solid 5px;
    border-color: purple;
    }
    
    .toggle {
    display: none; /* Oculta el checkbox */
    }
    
    .name {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    }
    
    .content {
    display: none; /* Oculta el contenido por defecto */
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    }
    
    .toggle:checked + .name + .content {
    display: block; /* Muestra el contenido cuando el checkbox está marcado */
}
.Cuadro_menu {
    background-color: rgb(22,19,29);
    height: 370px;
    width: 1000px;
}
.Box_Dep {
    background-color: rgb(193, 63, 16);
    width: 500px;
    height: 500px;
    text-align: center;
    margin-left: 450px;
    margin-top: 50px;
}
.Contenido {
    padding: 13px;
}